<nav style="background-color: #f4f4f4; padding: 5px; text-align: center;">
    <a href="{{ url_for('index') }}" style="display: inline-block; padding: 4px 4px; margin: 2px; text-decoration: none; color: #333; background-color: #fff; border-radius: 3px; border: 1px solid #ddd; font-size: 10px;">Home</a>
    <a href="{{ url_for('add_task') }}" style="display: inline-block; padding: 4px 4px; margin: 2px; text-decoration: none; color: #333; background-color: #fff; border-radius: 3px; border: 1px solid #ddd; font-size: 10px;">Add</a>
    <a href="{{ url_for('display_tasks') }}" style="display: inline-block; padding: 4px 4px; margin: 2px; text-decoration: none; color: #333; background-color: #fff; border-radius: 3px; border: 1px solid #ddd; font-size: 10px;">All Tasks</a>
    <a href="{{ url_for('search_task') }}" style="display: inline-block; padding: 4px 4px; margin: 2px; text-decoration: none; color: #333; background-color: #fff; border-radius: 3px; border: 1px solid #ddd; font-size: 10px;">Search</a>
</nav>
{% block container %}
<h2>Update</h2>
<p>Edit a record in the MongoDB database collection.</p>
<form method="POST" action="{{ url_for('edit_submit', task_id=task['_id']) }}">
    <input type="text" id="fname" name="title" value="{{ task['title'] }}" placeholder="Task title" />
    <br />
    <textarea id="fmessage" name="description" placeholder="Description">{{ task['description'] }}</textarea>
    <br />
    <input type="submit" value="Save" />
</form>
{% endblock %}