<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Task Manger{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Task Manager Homepage</h1>
        <nav>
            <a href="/app/templates/index.html">Home</a>
            <a href="/app/templates/data_add.html">Add New Task</a>
            <a href="/app/templates/data_edit.html">Edit Task</a>
            <a href="/app/templates/data_delete.html">Delete Task</a>
            <a href="/app/templates/search.html">Search</a>
            <a href="/app/templates/display_all.html">Display All Task</a>
            <a href="/app/templates/pending.html">Pending Task</a>
        </nav>

                <h2>
                    Welcome to our task manager mobile web app! Use the navigation bar above to add, edit, delete, search, and view all yours tasks. Thanks!
                </h2>
    </header>

</html>