<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Task Manager{% endblock %}</title>
</head>
<body>
    <header>
        <h2 style="text-align: center; font-size: 14px;">Task Manager</h2>
        <nav style="background-color: #f4f4f4; padding: 5px; text-align: center;">
            <a href="{{ url_for('index') }}" style="display: inline-block; padding: 4px 4px; margin: 2px; text-decoration: none; color: #333; background-color: #fff; border-radius: 3px; border: 1px solid #ddd; font-size: 10px;">Home</a>
            <a href="{{ url_for('add_task') }}" style="display: inline-block; padding: 4px 4px; margin: 2px; text-decoration: none; color: #333; background-color: #fff; border-radius: 3px; border: 1px solid #ddd; font-size: 10px;">Add</a>
            <a href="{{ url_for('display_tasks') }}" style="display: inline-block; padding: 4px 4px; margin: 2px; text-decoration: none; color: #333; background-color: #fff; border-radius: 3px; border: 1px solid #ddd; font-size: 10px;">All Tasks</a>
            <a href="{{ url_for('search_task') }}" style="display: inline-block; padding: 4px 4px; margin: 2px; text-decoration: none; color: #333; background-color: #fff; border-radius: 3px; border: 1px solid #ddd; font-size: 10px;">Search</a>
        </nav>
    </header>
    
    {% for task in tasks %}
    {#  <a href="{{ url_for('edit_task', task_id=task._id) }}" style="display: inline-block; padding: 4px 4px; margin: 2px; text-decoration: none; color: #333; background-color: #fff; border-radius: 3px; border: 1px solid #ddd; font-size: 10px;">Edit</a>
        <a href="{{ url_for('delete_task', task_id=task._id }}" style="display: inline-block; padding: 4px 4px; margin: 2px; text-decoration: none; color: #333; background-color: #fff; border-radius: 3px; border: 1px solid #ddd; font-size: 10px;">Delete</a>
        #}
         {% endfor %}
    <main>
        <h2 style="text-align: center; font-size: 14px;">Welcome to our task manager mobile web app! </h2>
        <h2 style="text-align: center; font-size: 14px;">Use the navigation bar above to add, edit, delete, search, and view all yours tasks. Thanks!</h2>
        <h2 style="text-align: center; font-size: 14px;">Thanks!</h2>
    </main>

    <footer>
        <p>&copy; Java and the Scripts, 2024</p>
    </footer>
</body>
</html>
